<template>
  <div>
    <div class="py-4 mx-auto">
      <div class="flex flex-wrap font-bold text-gray-100">
        <div class="text-gray-900 text-xl">Songs</div>
        <div class="bg-green-500 w-full h-1"></div>
        <div class="w-full mt-4" v-if="userStore.id == route.params.id">
          <RouterLinkButton
            class="ml-2"
            btnText="Delete Song"
            color="red"
            url="/account/delete-song"
          />
          <RouterLinkButton
            btnText="Add Song"
            color="green"
            url="/account/add-song"
          />
        </div>
      </div>
    </div>

    <div class="pb-4">
      <SongPlayer />
    </div>
  </div>
</template>

<script setup>
import SongPlayer from "./SongPlayer.vue";
import RouterLinkButton from "@/components/global/RouterLinkButton.vue";

import { useUserStore } from "@/store/user-store.js";
import { useRoute } from "vue-router";
import { useSongStore } from "@/store/song-store.js";
import { onMounted } from "vue";

onMounted(async () => {
  await songStore.fetchSongsByUserId(route.params.id);
});

const songStore = useSongStore();
const userStore = useUserStore();
const route = useRoute();
</script>
